*{
	color: rgb( 103, 44, 70);
	background-color: beige;
}

#title-text{
    text-align: center;
    font-size: 70px;
    font-family: cursive;
    border-style: none;    
}
#main-nav li {
	display: inline-block;
	font-size: 20px;
    color: white;
	margin: 40px;
	margin-top:0px;
	margin-bottom: 0px;
}
marque#moving-header {
    transform: translateX(100%);
    font-size: 70px;
    font-family: monospace;
}
#main-nav {
	position: sticky;
	opacity: 90%;
	top: 0px;
	text-align: center;
	background-color:#30370C;
	padding-top: 10px;
	padding-bottom: 10px;
}
h2{
	color: blue;
}
.major-heading{
	color: green !important;
}
#bio-intro {
	background-color: yellow;
}
h3, h4{
	background-color: orange;
}
p.Example {
	font-family: Garamond;
	background-color: blue;
}
:hover{
	background-image: url("./large.jpeg");
}
#poker-Chips {
    width: 300px;
    height: 200px;
}
#poker-Hand {
    float: right;
    width: 300px;
    height: 200px;
}
p{
	width: 500px;
	min-width: 100%;
	border-style: double;
	padding: 10px, 20px, 30px, 40px;
	border-radius: 200px;
}
a:hover{
	color: red;
}
